<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Rahul Personal Blogs</title>
</head>
<body>
    
    <nav class="navbar h-nav">
        <ul class="nav-list v-class">
            <h1 class="heading">Rahul Blogs</h1>
            <li><a href="../index.html">Home</a></li>
            <li><a>MyBlog</a>
                <ul><li>
                    <a class="navlist2" href="maharashtra.html">Maharashtra</a>
                    <a class="navlist2" href="rajasthan.html">Rajasthan</a>
                    <a class="navlist2" href="gujarat.html">Gujarat</a>
                </li></ul>
            </li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <a href="https://www.facebook.com/"><img class="ialogo1" src="../img/facebook.webp" alt="facebook" href="www.facebook.com/"></a> 
            <a href="https://www.instagram.com/"><img class="ialogo2" src="../img/insta.webp" alt="instagram" href="www.instagram.com/"></a>
             <a href="https://www.twitter.com/"><img class="ialogo3" src="../img/twitter.webp" alt="twitter" href="www.twitter.com/">
                
            </a>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="About"></section>

<div class="acont1">
    <h1 class="atext1">Meet the face
        behind the posts</h1>
    <p class="atext2">Hello! I am Rahul Pareek I am currently a student in my 1st-year B.E I am interested in web development also this is my second try to make a website and also I tried to make it responsive and yes it is responsive.</p>
        <p class="atext3">Every weekend I try to do something innovative. But this time I selected to make a website and I tried my best to complete it in two days it's 11.11 pm of 27/06/2021 when I am typing the content of my website about page. Also one of the best things I experienced today is that if we try our best to do something or build something although we are not successful or successful the only thing which is seen is the work done by us. Thankyou.​
        </p>
        <img class="aimg1" src="../img/IMG-20210125-WA0000.jpg" alt="image">

    </div>


    <section id="Contact">
    <div class="container4"  >
        <h1 class="con1">Let me know what's on your mind</h1>
    <div class="con3">
        <p class="con2">First Name</p>
        <input type="name" class="coni2">
        <p class="con2">Email</p>
        <input type="email" class="coni2">
    </div>
    <div class="con4">
        <p class="con2">Last Name</p>
        <input type="name" class="coni4">
        <p class="con2">Leaving us a message</p>
        <input type="text" class="coni5">
    </div>
    <button type="submit" class="con5"><span class="coni3">Submit</span></button>
    </div>
</section>
<script src="../js/resp.js"></script>
</body>
</html>