<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Rahul Personal Blogs</title>
</head>

<body>

    <nav class="navbar h-nav">
        <ul class="nav-list v-class">
            <h1 class="heading">Rahul Blogs</h1>
            <li><a href="../index.html">Home</a></li>
            <li><a>MyBlog</a>
                <ul>
                    <li>
                        <a class="navlist2" href="maharashtra.html">Maharashtra</a>
                        <a class="navlist2" href="gujarat.html">Gujarat</a>
                    </li>
                </ul>
            </li>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <a href="https://www.facebook.com/"><img class="ialogo1" src="../img/facebook.webp" alt="facebook"
                    href="www.facebook.com/"></a>
            <a href="https://www.instagram.com/"><img class="ialogo2" src="../img/insta.webp" alt="instagram"
                    href="www.instagram.com/"></a>
            <a href="https://www.twitter.com/"><img class="ialogo3" src="../img/twitter.webp" alt="twitter"
                    href="www.twitter.com/">

            </a>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="MyBlog"></section>
    <h1 class="mcont1">The Feed</h1>

    <section id="maharashtra">
        <h1 class="mtex1">Places to Visit in Rajasthan</h1>
        <p class="mtex2">Rajasthan which is also known as the “Land of Maharajas” is the largest state of India,
            covering an area of about 342,239 sq. km.</p>
    </section>
    <div class="mcont2">
        <img class="a1mimg1" src="../blogs/rajasthan1.webp" alt="image">
        <h1 class="a1mtext1">1. City Palace</h1>
        <p class="a1mtext2">The City Palace is one of the best tourist places to visit in Rajasthan. It is a palace
            complex in Jaipur that houses the famous Chandra Mahal and Mubarak Mahal. The Chandra Mahal is one of the
            most popular tourist places in Rajasthan.

            It was once the seat of the Maharaja of Jaipur and was built between 1729 and 1732. The construction of the
            palace was started by Maharaja Sawai Jai Singh II of Amber and later on, additions were made to the
            structure by successive rulers till the 20th century.

            The main entry gates into the City Palace complex are the Virendra Pol, the Udai Pol and the Tripolia Gate.
            Commoners and tourists can enter the City Palace only through the Virendra Pol and the Udai Pol. The most
            famous tourist spots within the palace complex are the Chandra Mahal and the Mubarak Mahal.
        </p>
    </div>

    <div class="mcont2">
        <img class="a1mimg1" src="../blogs/museum.webp" alt="image">
        <h1 class="a1mtext1">2.Albert Museum</h1>
        <p class="a1mtext2">Albert Hall Museum in Jaipur is one of the best and captivating Tourist Places in Rajasthan.
            Also known as the Central Museum, Albert Museum is situated amidst the lawn of Ram Niwas Bagh in Jaipur.

            Constituted to be one of the oldest historical museums in Rajasthan, Albert Hall Museum was originally
            sketched, designed and delineated by the Colonel Sir Swinton Jacob in the year 1876 for the motive of
            felicitating King Edward VII, the Prince of Wales. </p>
    </div>


    <div class="mcont2">
        <img class="a1mimg1" src="../blogs/raj2.jpg" alt="image">
        <h1 class="a1mtext1">3. Amber (Amer) Fort and Palace</h1>
        <p class="a1mtext2">The Amber Fort, more generally known as the Amer Fort, is one of the most popular and is
            situated at a distance of 11 km from Jaipur, the capital city of Rajasthan. The Amber Fort and Palace are
            some of the most popular tourist places in Rajasthan and attract crowds by the score from both within and
            outside the country.Amer fort is one of the most famous forts in Rajasthan and also one of the best places
            to visit in Jaipur tour.

            Overlooking the Maota Lake, the fort is best known for its artistic representation of Hindu elements. The
            fort is built with red sandstone and marble and consists of the Diwan-e-Aam or the Hall of Public Audience,
            the Diwan-e-Khaas or the Hall of Private Audience, the Sheesh Mahal and the Sukh Niwas. Remarkably, the Sukh
            Niwas has a very indigenous form of air-conditioning wherein artificial winds are blown over a water cascade
            to cool the surroundings.

            The Amer Palace served as the royal residence of Rajput Maharajas and their families. At the entrance of the
            Amber Fort, there is a temple dedicated to Sila Devi, who is a goddess of the Chaitanya Cult. </p>
    </div>

    <section id="Contact">
        <div class="container4">
            <h1 class="con1">Let me know what's on your mind</h1>
            <div class="con3">
                <p class="con2">First Name</p>
                <input type="name" class="coni2">
                <p class="con2">Email</p>
                <input type="email" class="coni2">
            </div>
            <div class="con4">
                <p class="con2">Last Name</p>
                <input type="name" class="coni4">
                <p class="con2">Leaving us a message</p>
                <input type="text" class="coni5">
            </div>
            <button type="submit" class="con5"><span class="coni3">Submit</span></button>
        </div>
    </section>
    <script src="../js/resp.js"></script>
</body>

</html>